/* Font family class for Bebas Neue */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body and Html */
body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction:column;
    flex: 1;
    padding-top: 2px;
}

/* Header */
header {
    background-color: #595959;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 1.5px 2px black;
}

header a {
    text-decoration: none; /* Removes underline */
}

#logo {
    font-size: 35px;
    color: white;
    text-shadow: -2px -2px 0 rgb(0, 0, 0);
}

h1 {
    letter-spacing: 2px;
}

#navbar {
    margin-right: 1rem;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    gap: 2.7rem;
}

#navbar ul li a {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 20px;
    text-shadow: -1px -1px 0 rgb(0, 0, 0);
}

/* Main Content*/
main {
    background-color: rgb(231, 231, 231);
    flex: 1 0 auto; /* Make main element take up any surplus space to push footer down */
    color: black;
    padding-top: 70px;
}

.paragraph-1 {
    font-size: 15px;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
}

.paragraph-2 {
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 220px;
}

.paragraph-3 {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 40px;
    margin-top: -20px
}

.image-container {
    display: flex;
    margin-top: -360px;

}
.iphone-img {
    max-width: 50%;
    height: auto;
    margin-left: 60px;
}

/* Footer */
footer {
    background-color: rgb(75, 146, 239);
    padding: 10px;
}

#social-media {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 400px;

}



/* Media query: tablets and larger (768px and up) */
@media screen and (min-width:768px) {
    #navbar ul {
        justify-content: flex-end;
        gap: 2rem;
    }

    #logo {
        font-size: 75px;
        text-shadow: -2px -2px 0 rgb(0, 0, 0);
        position: relative;
        top: 25px;
    }

    #navbar ul li a {
        letter-spacing: 2px;
        font-size: 30px;
        text-shadow: -1px -1px 0 rgb(0, 0, 0);
        font-size: 30px;
    }

    header {
        padding-left: 2rem;
    }

    /* Main Content */
    .paragraph-1 {
        font-size: 26px;
        padding-left: 115px;
        padding-right: 115px;
        padding-top: 100px;
    }

    .paragraph-2 {
        font-size: 26px;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 400px;
    }
    
    .paragraph-3 {
        font-size: 26px;
        padding-left: 100px;
        padding-right: 100px;
    }


    .image-container {
        margin-left: 190px;
        margin-right: 140px;
        margin-top: -520px;
    }

    .iphone-img {
        max-width: 55%;
        height: auto;
    }

    
    /* Footer */
    footer {
        padding: 20px;
    }

    #social-media {
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    font-size: 26px;
    max-width: none;
    }
    

}

/* Media query: tablets and larger (1440px and up) */
@media screen and (min-width: 1440px) {
    #navbar ul li a {
        font-size: 40px;
    }
    #logo {
        font-size: 90px;
        padding-left: 20px;
    }
    header {
    height: 170px;
    }

    /* Main Content */
    .paragraph-1 {
        font-size: 30px;
        padding-left: 225px;
        padding-right: 180px;
        margin-top: 55px;

    }

    .paragraph-2 {
        font-size: 30px;
        padding-left: 225px;
        padding-right: 180px;

    }
    
    .paragraph-3 {
        font-size: 30px;
        padding-left: 225px;
        padding-right: 250px;
    }


    .image-container {
        padding-left: 290px;
        padding-right: 80px;
        margin-top: -500px;
    }

    .iphone-img {
        max-width: 250px;
    }
}
