/* Google Fonts class for lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* Font family class for Bebas Neue */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body and Html */
body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #595959;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 1.5px 2px black;
}

header a {
    text-decoration: none;
    /* Removes underline */
}

#logo {
    font-size: 35px;
    color: white;
    text-shadow: -2px -2px 0 rgb(0, 0, 0);
}

h1 {
    letter-spacing: 2px;
}

.logo {
    width: fit-content;
}

.active {
    text-decoration: underline;
}

#navbar {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    gap: 2.7rem;
}

#navbar ul li a {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 20px;
    text-shadow: -1px -1px 0 rgb(0, 0, 0);
}

/* Main Content*/
main {
    background-color: rgb(231, 231, 231);
    flex: 1 0 auto;
    /* Make main element take up any surplus space to push footer down */
    color: black;
    padding-top: 70px;
    padding-bottom: 20px;
}

.paragraph-1,
.paragraph-2,
.paragraph-3 {
    font-size: 14px;
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 25px;
    font-family: "Lato", sans-serif;
}

#history-paragraph-1,
#history-paragraph-2,
#history-paragraph-3 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

/*Image on home screen*/
.iphone-img {
    max-width: 50%;
    height: auto;
    margin-left: 70px;
}

/* Form */
#signup-form {
    color: #414141;
    background-color: rgba(60, 60, 60, );
    padding: 50px;
}

#signup-form>h2 {
    color: #414141;
    margin-bottom: 20px;
}

.join-button {
    margin-top: 10px;
}

.text-input {
    border-radius: 5px;
    border: 1px;
    margin: 10px;
}

/* Image on signup page */
.churchill-quote {
    max-width: 285px;
    margin-left: -100px;
    position: fixed;
    margin-top: 59px;
    z-index: 0;
}

/* Buttons for history and signup */
.boxed-section {
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.button-box {
    margin-bottom: 5px;
}

.button-s,
.button-h {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #595959;
    border-radius: 5px;
}

.button.s:hover,
.button-h:hover {
    background-color: #595959;
    border-color: #595959;
}

/* Images on history screen */
.young-churchill-img {
    max-width: 80%;
    margin-left: 29px;
    margin-top: 10px;
}

.adult-churchill-img {
    max-width: 225px;
    margin-left: 30px;
    margin-top: 10px;
}

.later-churchill-img {
    max-width: 215px;
    margin-left: 30px;
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #595959;
    padding: 10px;
}

#social-media {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 400px;

}



/* Media query: tablets and larger (768px and up) */
@media screen and (min-width:768px) {
    #navbar ul {
        justify-content: flex-end;
        gap: 2rem;
        margin-left: 435px;
        margin-top: 10px;
    }

    #logo {
        font-size: 75px;
        text-shadow: -2px -2px 0 rgb(0, 0, 0);
        position: relative;
        top: 25px;
    }

    #navbar ul li a {
        letter-spacing: 2px;
        font-size: 30px;
        text-shadow: -1px -1px 0 rgb(0, 0, 0);
        font-size: 30px;
    }

    header {
        padding-left: 2rem;
    }

    /* Main Content */
    .paragraph-1,
    .paragraph-2,
    .paragraph-3 {
        font-size: 25px;
        margin-left: 50px;
        margin-top: 90px;
        margin-right: 50px;
        font-family: "Lato", sans-serif;
    }

    .paragraph-2 {
        margin-top: 10px;
    }

    .paragraph-3 {
        margin-top: 10px;
    }

    /* Form */
    #signup-form {
        color: #414141;
        background-color: rgba(60, 60, 60, );
        text-align: center;
        margin-top: 80px;
        font-size: 22px;
    }

    #signup-form>h2 {
        color: #414141;
        font-size: 40px;
    }

    .join-button {
        margin-top: 20px;
        font-size: 15px;
    }

    .text-input {
        border-radius: 5px;
        border: 1px;
        margin: 10px;
        padding: 5px;
        margin: 10px auto;
        display: block;
    }

    /* Image on signup page */
    .churchill-quote {
        max-width: 440px;
        margin-left: -235px;
        margin-top: 50px;
        position: fixed;
        z-index: 0;
    }

    /* Buttons for history and signup */
    .boxed-section {
        display: flex;
        padding: 50px;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .button-box {
        margin-bottom: 5px;
    }

    .button-s,
    .button-h {
        display: inline-block;
        padding: 20px 30px;
        text-decoration: none;
        color: #ffffff;
        background-color: #595959;
        border-radius: 5px;
        font-size: 25px;
    }

    .button.s:hover,
    .button-h:hover {
        background-color: #595959;
        border-color: #595959;
    }

    /*Image for home screen*/
    .iphone-img {
        max-width: 30%;
        margin-left: 250px;
        margin-top: 25px;
    }

    /* History Page */

    #history-paragraph-1,
    #history-paragraph-2,
    #history-paragraph-3 {
        padding-top: 110px;
        padding-left: 60px;
        padding-right: 60px;
        font-size: 25px;
    }

    #history-paragraph-2,
    #history-paragraph-3 {
        margin-top: -100px;
    }

    /* History page images */

    .young-churchill-img {
        max-width: 75%;
        margin-left: 150px;
        margin-top: 25px;
    }

    .adult-churchill-img {
        max-width: 450px;
    }

    .later-churchill-img {
        max-width: 400px;
    }

    /* Footer */
    footer {
        padding: 20px;
    }

    #social-media {
        justify-content: space-between;
        padding-left: 120px;
        padding-right: 120px;
        font-size: 26px;
        max-width: none;
    }


}

/* Media query: tablets and larger (1440px and up) */
@media screen and (min-width: 1440px) {
    #navbar ul {
        justify-content: flex-end;
        gap: 2rem;
        margin-left: 1475px;
        margin-top: 10px;
    }

    #logo {
        font-size: 85px;
    }

    #navbar ul li a {
        letter-spacing: 2px;
        font-size: 40px;
        text-shadow: -1px -1px 0 rgb(0, 0, 0);
    }

    /* Main Content */
    .paragraph-1,
    .paragraph-2,
    .paragraph-3 {
        font-size: 30px;
        margin-left: 325px;
        margin-top: 140px;
        margin-right: 250px;
        font-family: "Lato", sans-serif;

    }

    .paragraph-2 {
        margin-left: -275px;
        margin-right: 125px;
        margin-top: 10px;
    }

    .paragraph-3 {
        margin-left: -275px;
        margin-top: 10px;
        margin-right: 325px;
    }
    

        /* Form */
        #signup-form {
            color: #414141;
            background-color: rgba(60, 60, 60, );
            text-align: center;
            margin-top: 80px;
            font-size: 20px;
            align-items: center;
            flex-direction: column;
            display: flex;
        }
    
        #signup-form>h2 {
            color: #414141;
            font-size: 40px;
        }
    
        .join-button {
            font-size: 25;
            padding: 10px 20px;
            margin-top: 10px;
        }

        .text-input {
            border-radius: 5px;
            border: 1px;
            margin: 10px;
            padding: 5px;
            margin-right: -15px;
        }
    
        /* Image on signup page */
        .churchill-quote {
            max-width: 420px;
            position: absolute;
            top: 530px;
            left: 750px;
        }

    /* Image home screen */
    .iphone-img {
        max-width: 25%;
    }

    /* Buttons for history */
    .boxed-section {
        padding: 50px;
        flex-direction: column;
        margin-top: 20px;
        text-align: center;
        margin-left: -170px;
    }

    .button-box {
        margin-bottom: 5px;
    }

    .button-s,
    .button-h {
        display: inline-block;
        padding: 20px 30px;
        text-decoration: none;
        color: #ffffff;
        background-color: #595959;
        border-radius: 5px;
        font-size: 25px;
        margin-left: -300px;
    }

    .button.s:hover,
    .button-h:hover {
        background-color: #595959;
        border-color: #595959;
    }
}