/* Google Fonts class for lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* Font family class for Bebas Neue */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body and Html */
body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #595959;
    position: fixed;
    width: 100%;
    box-shadow: 0 1.5px 2px black;
}

header a {
    text-decoration: none;
    /* Removes underline */
}

#logo {
    font-size: 3rem;
    color: white;
    text-shadow: -2px -2px 0 rgb(0, 0, 0);
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

h1 {
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.logo {
    width: fit-content;
}

.active {
    text-decoration: underline;
}

#navbar {
    margin-left: auto;
    display: flex;
    align-items: center;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    gap: 2.7rem;
    margin: 0 auto;
}

#navbar ul li a {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 1.5rem;
    text-shadow: -1px -1px 0 rgb(0, 0, 0);
}


/* Main content on home screen*/
main {
    background-color: rgb(231, 231, 231);
    flex: 1 0 auto;
    /* Make main element take up any surplus space to push footer down */
    color: black;
    padding-top: 70px;
    padding-bottom: 80px;
}

/* Home Page */
.paragraph-1,
.paragraph-2,
.paragraph-3 {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    text-align: center;
    font-family: "Lato", sans-serif;
}

/*Image on home screen*/
.iphone-img {
    max-width: 70%;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
}

/* History Page */
#history-paragraph-1,
#history-paragraph-2,
#history-paragraph-3 {
    text-align: center;
    font-family: "Lato", sans-serif;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 40px;
    font-size: 18px;
}

/* Buttons for history and signup */
.boxed-section {
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.button-box {
    margin-bottom: 5px;
}

.button-s,
.button-h {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #595959;
    border-radius: 5px;
}

.button.s:hover,
.button-h:hover {
    background-color: #595959;
    border-color: #595959;
}

/* Images on history screen */
.young-churchill-img {
    max-width: 60%;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
}

.adult-churchill-img {
    max-width: 250px;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
}

.later-churchill-img {
    max-width: 250px;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* signup page */

/* Form */
#signup-form {
    padding: 20px;
    margin: 40px auto;
    text-align: center;
}

#signup-form>h2 {
    color: #414141;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
}

.join-button {
    margin-top: 10px;
    font-size: 14px;
}

.text-input {
    border-radius: 5px;
    border: 1px;
    padding: 10px;
    margin: 10px auto;
    display: block;
}

/* Image on signup page */
.churchill-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    max-width: 330px;
}

/* Footer */
footer {
    background-color: #595959;
    padding: 20px;
}

#social-media {
    list-style: none;
    display: flex;
    width: 50%;
    max-width: 400px;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#social-media a {
    color: #ffffff;
    font-size: 30px;
}

.container-thanks {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Thank you page */
#thankyou {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: black;
    margin-top: 100px;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width:768px) {
    
    /* Home Screen */
    .iphone-img {
        justify-content: center;
        display: flex;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 170px;
        max-width: 50%;
    }

    #logo {
        font-size: 4rem;
    }

    .paragraph-1,
    .paragraph-2,
    .paragraph-3 {
        font-size: 25px;
        margin-top: 80px;
    }

    main {
        flex: 1 0 auto;
    }
    
    /* History Page */

    /* Buttons for history and signup */
    .boxed-section {
        display: flex;
        padding: 50px;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    
    /*History text*/

    #history-paragraph-1,
    #history-paragraph-2,
    #history-paragraph-3 {
        text-align: center;
        margin-left: 70px;
        margin-right: 70px;
        font-size: 18px;
        margin-top: 80px;
    }
    
    .young-churchill-img {
        max-width: 60%;
    }

    .button-box {
        margin-bottom: 5px;
    }

    .button-s,
    .button-h {
        display: inline-block;
        padding: 20px 30px;
        text-decoration: none;
        color: #ffffff;
        background-color: #595959;
        border-radius: 5px;
        font-size: 25px;
    }

    .button.s:hover,
    .button-h:hover {
        background-color: #595959;
        border-color: #595959;
    }

        /* Form */
        #signup-form {
            text-align: center;
        }

    /* Footer */
    #social-media {
        gap: 225px;
    }
    #social-media a {
        color: #ffffff;
        font-size: 40px;
    }


}

/* Media query: tablets and larger (1440px and up) */
@media screen and (min-width: 1440px) {

    /* Images home screen */
    .iphone-img {
        justify-content: center;
        display: flex;
        margin: 0 auto;
        margin-top: 30px; 
        max-width: 450px;
    }

    main {
        flex: 1 0 auto;
    }

    #logo {
        font-size: 5rem;
    }

    /* History Page */
    /* Buttons for history */
    .boxed-section {
        padding: 50px;
        flex-direction: column;
        margin-top: 20px;
        text-align: center;
        margin-left: 70px;
    }

    .churchill-quote {
        max-width: 500px;
    }

    #history-paragraph-1,
    #history-paragraph-2,
    #history-paragraph-3 {
        text-align: center;
        margin-left: 90px;
        margin-right: 90px;
        font-size: 20px;
    }

    .button-box {
        margin-bottom: 5px;
    }

    .button-s,
    .button-h {
        display: inline-block;
        padding: 20px 30px;
        text-decoration: none;
        color: #ffffff;
        background-color: #595959;
        border-radius: 5px;
        font-size: 25px;
    }

    .button.s:hover,
    .button-h:hover {
        background-color: #595959;
        border-color: #595959;
    }

    /* Footer */
    #social-media {
        gap: 500px;
    }
    #social-media a {
        color: #ffffff;
        font-size: 40px;
    }
}